@charset "utf-8";

/* company */

/* header
----------------------------------------- */
.page-visual {
  background: url(../images/page-visual_sp.jpg) center center no-repeat;
  background-size: cover;
}


/* contents
----------------------------------------- */
#contents {
  margin-top: 45px;
}

.company-profile-list {
  margin-bottom: 120px;
  padding: 0 40px;
}

.company-profile-list li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.company-profile-list li span {
  display: block;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.company-profile-list li p {
  font-size: 1.3rem;
}

.map-link {
  text-decoration: underline;
}






























































/* tablet 560px - 959px */
@media only screen and (min-width: 560px) {

  /* header
----------------------------------------- */
  .page-visual {
    background: url(../images/page-visual_pc.jpg) center center no-repeat;
    background-size: cover;
  }


  /* contents
----------------------------------------- */
  #contents {
    margin-top: 70px;
  }

  .company-profile-list {
    margin-bottom: 180px;
    padding: 0 80px;
  }

  .company-profile-list li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }

  .company-profile-list li span {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
  }

  .company-profile-list li p {
    font-size: 1.4rem;
  }

  .map-link {
    text-decoration: underline;
  }


}

/* tablet end */






















































/* PC 960px - */
@media only screen and (min-width: 960px) {

  /* header
----------------------------------------- */
  .page-visual {
    background: url(../images/page-visual_pc.jpg) center center no-repeat;
    background-size: cover;
  }


  /* contents
----------------------------------------- */
  #contents {
    margin-top: 120px;
  }

  .company-profile-list {
    max-width: 800px;
    margin: 0 auto 240px;
    padding: 0;
  }

  .company-profile-list li {
    display: flex;
    margin-bottom: 34px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .company-profile-list li span {
    display: block;
    width: 18%;
    margin: 0 3% 0 0;
    padding: 0 0 34px 18px;
    border-bottom: 1px solid #111;
    font-size: 1.4rem;
  }

  .company-profile-list li p {
    width: 79%;
    padding: 0 0 34px 18px;
    font-size: 1.4rem;
    border-bottom: 1px solid #ccc;
  }

  .map-link {
    text-decoration: underline;
  }

}

/* PC end */
